<h2> Detalles de las mascotas</h2>

<div>
    <div>
        <label> <b> nombre: </b></label> {{animal.nombre}}
    </div>
    <div>
        <label> <b> tipoAnimal: </b></label> {{animal.descripcion}}
    </div>
    <div>
        <label> <b> raza </b></label> {{animal.raza}}
    </div>
    <div>
        <label> <b> edad </b></label> {{animal.edad}}
    </div>
    <div>
        <label> <b> disponibilidad </b></label> {{animal.disponibilidad}}
    </div>
    <div>
        <label> <b> chip </b></label> {{animal.chip}}
    </div>
    <div>
        <label> <b> tipoAnimal </b></label> {{animal.tipoAnimal}}
    </div>
    <div>
        <label> <b> tipoSexo </b></label> {{animal.tipoSexo}}
    </div>
    <div>
        <label> <b> tipoTamanyo </b></label> {{animal.tipoTamanyo}}
    </div>
    <div>
        <label> <b> fecha_entrada_protectora </b></label> {{animal.fechaEntradaProtectora}}
    </div>
    <div>
        <img width="100px" [src]="animal.imagenUrl">
    </div>
</div>

