<div class="prueba">
    <section>
        <main class="table">

            <div class="table__header">
                <img src="../../assets/imagenes/logonise.png" class="logo">
                <h1>Añadir una mascota</h1>
            </div>

            <div class="table__body">
                <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">


                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="animal.nombre"
                            name="nombre">
                    </div>


                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="animal.descripcion"
                            name="descripcion">
                    </div>


                    <div class="form-group">
                        <label>Raza</label>
                        <input type="text" class="form-control" id="raza" [(ngModel)]="animal.raza"
                            name="raza">
                    </div>


                    <div class="form-group">
                        <label> Edad</label>
                        <input type="number" class="form-control" id="edad" [(ngModel)]="animal.edad"
                            name="edad">
                    </div>


                    <div class="form-group">
                        <label> ¿Está disponible?</label>
                        <input type="checkbox" id="disponibilidad" [(ngModel)]="animal.disponibilidad"
                            name="disponibilidad">
                    </div>


                    <div class="form-group">
                        <label>¿Tiene chip?</label>
                        <input type="checkbox" id="chip" [(ngModel)]="animal.chip"
                        name="chip">
                    </div>


                    <div class="form-group">
                        <label> Especie</label>
                        <select id="tipoAnimal" [(ngModel)]="animal.tipoAnimal" name="tipoAnimal" class="styled-select">
                            <option value="PERRO">Perro</option>
                            <option value="GATO">Gato</option>
                            <option value="OTRO">Otro</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label> Sexo</label>
                        <select id="tipoSexo" [(ngModel)]="animal.tipoSexo" name="tipoSexo" class="styled-select">
                            <option value="HEMBRA">Hembra</option>
                            <option value="MACHO">Macho</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label> Tamaño</label>
                        <select id="tipoTamanyo" [(ngModel)]="animal.tipoTamanyo" name="tipoTamanyo" class="styled-select">
                            <option value="GRANDE">Grande</option>
                            <option value="MEDIANO">Mediano</option>
                            <option value="PEQUEÑO">Pequeño</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label> Fecha entrada protectora (DD/MM/YYYY)</label>
                        <input type="text" class="form-control" id="fechaEntradaProtectora" [(ngModel)]="animal.fechaEntradaProtectora"
                            name="fechaEntradaProtectora">
                    </div>


                    <div class="form-group">
                        <label> Imagen de la Mascota:</label>
                        <input type="file" class="form-control" name="imagen" id="imagen" (change)="onImageSeleccionada($event)" accept="image/*" required>
                    </div>


                    <br />
                    <button class="button" type="submit">Crear</button>


                </form>
            </div>

        </main>
    </section>



</div>
