<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Detalles del veterinario</h1>
        </div>

        <div class="table__body">

            <div>
                <label><strong> Nombre: </strong> {{veterinario.nombre}} </label>
            </div>
            <div>
                <label><strong> Dirección: </strong> {{veterinario.direccion}} </label>
            </div>
            <div>
                <label><strong> Teléfono: </strong> {{veterinario.telefono}} </label>
            </div>
            <div>
                <label><strong> Email: </strong> {{veterinario.email}} </label>
            </div>
        </div>

    </main>
</section>


