<footer>
    <div class="footer-container">
        <div class="footer-content-container">
            <h3 class="website-logo"><img src="../../assets/imagenes/logonise.jpg" alt=""></h3>
            <span class="footer-info">954 055 123</span>
            <span class="footer-info">nise_adoptions@segundaoportunidad.com</span>
        </div>
        <div class="footer-menus">
            <div class="footer-content-container">
                <span class="menu-title">menu</span>
                <a routerLink="/Inicio" routerLinkActive="active" class="menu-item-footer">Inicio</a>
                <a routerLink="/Quienes_somos" routerLinkActive="active"class="menu-item-footer">¿Quienes Somos?</a>
                <a routerLink="/Contacta" routerLinkActive="active" class="menu-item-footer">Contacta con nosotros</a>
            </div>
            <div class="footer-content-container">
                <span class="menu-title">legal</span>
                <a href="" class="menu-item-footer">Politicas de Privacidad</a>
                <a href="" class="menu-item-footer">Cookies</a>
                <a href="" class="menu-item-footer">Aviso Legal</a>
            </div>
        </div>
        
        <div class="footer-content-container">
            <span class="menu-title">Siguenos en Redes</span>
            <div class="social-container">
                <a href="" class="social-link"></a>
                <a href="" class="social-link"></a>
                <a href="" class="social-link"></a>
                <a href="" class="social-link"></a>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <span class="copyright">Copyright 2023, Nise Adoptions. Todos los derechos estan reservados al Team Patata.</span>
    </div>
</footer>
