<div class = "row">
    <h2> Mascotas List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>raza</th>
            <th>edad</th>
            <th>disponibilidad</th>
            <th>chip</th>
            <th>tipo Animal</th>
            <th>tipo Sexo</th>
            <th>tipo Tamanyo</th>
            <th>fecha Entrada Protectora</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let mascota of mascotas">
            <td> {{mascota.nombre }} </td>
            <td> {{mascota.raza }} </td>
            <td> {{mascota.edad }} </td>
            <td> {{mascota.disponibilidad }} </td>
            <td> {{mascota.chip }} </td>
            <td> {{mascota.tipoAnimal }} </td>
            <td> {{mascota.tipoSexo }} </td>
            <td> {{mascota.tipoTamanyo }} </td>
            <td> {{mascota.fecha_entrada_protectora}} </td>
            <td>
                <button [routerLink]="['update-mascota', mascota.id]" class="btn btn-primary">Update</button>
                <button (click) = "deleteMascota(mascota.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button [routerLink]="['mascota-details', mascota.id]" class="btn btn-primary">Detail</button>
            </td>
        </tr>
    </tbody>
</table>