
<div *ngIf="rol === 'USUARIO' || rol === 'ADMIN' && rol !== ''">

<div class = "row" >
    <h2> Bienvenido {{username}}</h2> <button routerLink="/" class="btn btn-primary">Inicio</button>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>nombre</th>
            <th>telefono</th>
            <th>direccion</th>
            <th>email</th>
            <th>dni</th>
            <th>Animal Preferido</th>
            <th>Tamaño del Animal</th>
            <th>Preferencia de Sexo</th>
            <th>logindto</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let usuario of usuariodatos">
            <td> {{username}} </td>
            <td> {{usuario.nombre }} </td>
            <td> {{usuario.telefono }} </td>
            <td> {{usuario.direccion }} </td>
            <td> {{usuario.email }} </td>
            <td> {{usuario.dni }} </td>
            <td> {{usuario.preferenciaTipoAnimal }} </td>
            <td> {{usuario.preferenciaTipoTamanyo }} </td>
            <td> {{usuario.preferenciaSexo }} </td>
            <td> {{usuario.loginDTO.username }} </td>
            <td>
                <!-- <button [routerLink]="['update-mascota', mascota.id]" class="btn btn-primary">Update</button>
                <button (click) = "deleteMascota(mascota.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> -->
                <button [routerLink]="['update-usuario', usuario.id]" class="btn btn-primary">Update</button>
            </td>
        </tr>
    </tbody>
</table>
 <h2>Lista de animales donados</h2>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th>imagen</th>
      <th>nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let usuario of animalesdonados">
      <img width="100px" [src]="usuario.imagenUrl">
      <td> {{usuario.nombre }} </td>
    </tr>
    </tbody>
  </table>
  <h2>Lista de animales Adoptados</h2> <button [routerLink]="['animalCrear']" class="btn btn-primary">Añadir animal</button>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th>imagen</th>
      <th>nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let animal of animalesAdoptados">
      <img width="100px" [src]="animal.imagenUrl">
      <td> {{animal.nombre }} </td>
    </tr>
    </tbody>
  </table>

</div>



<div *ngIf="rol === 'PROTECTORA'">
<div class = "row">
    <h2> Bienvenido {{protectoras.nombre}}</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>nombre</th>
            <th>telefono</th>
            <th>direccion</th>
            <th>email</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{username}} </td>
            <td> {{protectoras.nombre }} </td>
            <td> {{protectoras.telefono }} </td>
            <td> {{protectoras.localidad }} </td>
            <td> {{protectoras.email }} </td>
            <td>
                <!-- <button [routerLink]="['update-mascota', mascota.id]" class="btn btn-primary">Update</button>
                <button (click) = "deleteMascota(mascota.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> -->
                <button [routerLink]="['mascota-details', protectoras.id]" class="btn btn-primary">Detail</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
