<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section>
    <img src="../../assets/imagenes/logonise.png" class="logo">

        <div class="container">
            <div class="row" id="ficha">
                    <div class="col-12 col-md-3">
                        <img src="../../assets/imagenes/mostar_mascotas/gato1.jpg">
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="boton">
                            <h1>Luna</h1>
                            <a>
                                <button><i class='bx bxs-heart'></i>Adoptar</button>
                            </a>
                        </div>

                        <div class="info">

                            <h4 class="mb-4">Características</h4>

                            <div class="row" id="caracteristicas">
                                <div class="col-6 col-md-3 mb-4">
                                    <p>Gato</p>
                                    <span>Especie</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>Mestizo</p>
                                    <span>Raza</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>2 años</p>
                                    <span>Edad</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>Hembra</p>
                                    <span>Sexo</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>Mediano</p>
                                    <span>Tamaño</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>Si</p>
                                    <span>Disponible</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>Si</p>
                                    <span>Chip</span>
                                </div>
                            </div>
                                <p>Breve descripcion de mi persona</p>
                        </div>
                </div>
            </div>
        </div>
</section>
