<header *ngIf="rol === ''">

  <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

  <nav class="navbar">
      <a routerLink="/Inicio" routerLinkActive="active" class="a1">Inicio</a>
      <a routerLink="/Adopcion" routerLinkActive="active"class="a2">Adopción</a>
      <a routerLink="/Veterinario" routerLinkActive="active"class="a3">Veterinarios Cercanos</a>
      <a routerLink="/Ayudanos" routerLinkActive="active"class="a4">Ayudanos a mejorar</a>
      <a routerLink="/Contacta" routerLinkActive="active"class="a5">Contacta con nosotros</a>
  </nav>
  <div class="inicio_sesion">
    <button routerLink="/Login" routerLinkActive="active" class="action_btn">Inicio de sesión</button>
  </div>

  <div class="toggle_btn" (click)="toggleClass()" >
    <img src="../../assets/imagenes/menu.png"  alt="">
  </div>

  <div class="dropdown_menu " [ngClass]="{'open': isActive}">
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
    <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
    <li><a routerLink="/Ayudanos" routerLinkActive="active">Ayudanos a mejorar</a></li>
    <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
    <li><a href="/Login" class="action_btn">Inicio de sesión</a></li>
  </div>

</header>

<header *ngIf="rol === 'USUARIO'">

<a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

<nav class="navbar">
    <a routerLink="/Inicio" routerLinkActive="active" class="usuario">Inicio</a>
    <a routerLink="/Adopcion" routerLinkActive="active"class="usuario">Adopción</a>
    <a routerLink="/Veterinario" routerLinkActive="active"class="usuario">Veterinarios Cercanos</a>
    <a routerLink="/Ayudanos" routerLinkActive="active"class="usuario">Ayudanos a mejorar</a>
    <a routerLink="/Contacta" routerLinkActive="active"class="usuario">Contacta con nosotros</a>
    <a routerLink="/usuarios/perfil" routerLinkActive="active"class="usuario">Mi perfil</a>
</nav>
<div class="inicio_sesion">
  <button routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</button>
</div>

<div class="toggle_btn" (click)="toggleClass()" >
  <img src="../../assets/imagenes/menu.png"  alt="">
</div>

<div class="dropdown_menu " [ngClass]="{'open': isActive}">
  <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
  <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
  <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
  <li><a routerLink="/Ayudanos" routerLinkActive="active">Ayudanos a mejorar</a></li>
  <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
  <li><a routerLink="/Perfil" routerLinkActive="active"class="a5">Mi perfil</a></li>
  <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
</div>

</header>

<header *ngIf="rol === 'PROTECTORA'">

<a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

<nav class="navbar">
    <a routerLink="/Inicio" routerLinkActive="active" class="a1">Inicio</a>
    <a routerLink="/animal/animalProtectoras" routerLinkActive="active"class="a2">Gestionar Mascotas</a>
    <a routerLink="/Veterinario" routerLinkActive="active"class="a3">Gestionar Adopciones</a>
    <a routerLink="/usuarios/perfil" routerLinkActive="active"class="a5">Nuestro perfil</a>
</nav>
<div class="inicio_sesion">
  <button routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</button>
</div>

<div class="toggle_btn" (click)="toggleClass()" >
  <img src="../../assets/imagenes/menu.png"  alt="">
</div>

<div class="dropdown_menu " [ngClass]="{'open': isActive}">
  <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
  <li><a routerLink="/Adopcion" routerLinkActive="active">Gestionar Mascotas</a></li>
  <li><a routerLink="/Veterinario" routerLinkActive="active">Gestionar Adopciones</a></li>
  <li><a routerLink="/Perfil" routerLinkActive="active"class="a5">Nuestro perfil</a></li>
  <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
</div>

</header>

<header *ngIf="rol === 'ADMIN'">

<a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

<nav class="navbar">
    <a routerLink="/usuarios/usuariosListar" routerLinkActive="active"class="admin">Gestion de Usuarios</a>
    <a routerLink="/protectora/protectorasListar" routerLinkActive="active"class="admin">Gestion de Protectoras</a>
    <a routerLink="/veterinarios/veterinariosListar" routerLinkActive="active"class="admin">Gestion de Veterinarios</a>
    <a routerLink="/vacuna/vacunasListar" routerLinkActive="active"class="admin">Gestion de Vacunas</a>
    <a routerLink="/Contacta" routerLinkActive="active"class="admin">Adopcion de Protectoras</a>
    <a routerLink="/Contacta" routerLinkActive="active"class="admin">Adopcion de Usuarios</a>
</nav>
<div class="inicio_sesion">
  <button routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</button>
</div>

<div class="toggle_btn" (click)="toggleClass()" >
  <img src="../../assets/imagenes/menu.png"  alt="">
</div>

<div class="dropdown_menu " [ngClass]="{'open': isActive}">
  <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
  <li><a routerLink="/Adopcion" routerLinkActive="active">Gestion de Usuarios</a></li>
  <li><a routerLink="/protectora/protectorasListar" routerLinkActive="active">Gestion de Protectoras</a></li>
  <li><a routerLink="/veterinarios/veterinariosListar" routerLinkActive="active">Gestion de Veterinarios</a></li>
  <li><a routerLink="/vacuna/vacunasListar" routerLinkActive="active">Gestion de Vacunas</a></li>
  <li><a routerLink="/Contacta" routerLinkActive="active">Gestion de Adopcion de Protectoras</a></li>
  <li><a routerLink="/Contacta" routerLinkActive="active">Gestion de Adopcion de Usuarios</a></li>
  <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
</div>

</header>
<section class="home" id="home">

    <div class="content">
        <h3>Ayudanos a mejorar</h3>
        <p>Buenas, en esta pagina prodras dejarnos tu opinion acerca de nuestro servicio, el trato acerca de las adopciones y mejoras que
          creas que prodriamos implementar para mejorar y garantizar un total y correcto funcionamiento tanto de nuestra pagina web como de nuestro
          servicio como protectora.
        <br/><br/>
          Todas las opiniones seran bienvenidas siempre y cuando sean desde el respeto, nos tomamos muy enserio la opinion de nuestros
          clientes y agradecemos las opiniones constructivas.
        </p>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <textarea cols="135" rows="5" class="ms-4" placeholder="    Dejanos una opinion" id="opinion" formControlName="opinion"></textarea>

        <button class="pipo ms-4" type="submit">
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                </svg>
              </div>
            </div>
            <span>Postear comentario</span>
          </button>
        </form>
    </div>
  <table class="table__body mt-4">
    <thead>
        <tr>
            <th> Usuario </th>
            <th> Opiniones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let comentario of Comentarios">
            <td>
                <p class="status delivered">{{comentario.usuarioDTO.nombre }}</p>
            </td>
            <td> <strong> {{comentario.opinion }} </strong></td>
        </tr>

    </tbody>
</table>
</section>
<app-footer></app-footer>
