<h2> Detalles de los usuarios</h2>

<div>
    <div>
        <label> <b> nombre: </b></label> {{usuario.nombre}}
    </div>
    <div>
        <label> <b> telefono: </b></label> {{usuario.telefono}}
    </div>
    <div>
        <label> <b> direccion </b></label> {{usuario.direccion}}
    </div>
    <div>
        <label> <b> email </b></label> {{usuario.email}}
    </div>
    <div>
        <label> <b> dni </b></label> {{usuario.dni}}
    </div>
    <div>
        <label> <b> preferenciaTipoAnimal </b></label> {{usuario.preferenciaTipoAnimal}}
    </div>
    <div>
        <label> <b> preferenciaTipoTamanyo </b></label> {{usuario.preferenciaTipoTamanyo}}
    </div>
    <div>
        <label> <b> preferenciaSexo </b></label> {{usuario.preferenciaSexo}}
    </div>
    <div>
        <label> <b> Username </b></label> Aqui va el Username
    </div>
</div>


