<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<nav class="tabs-container">
    <a routerLink="/Inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/Adopcion" routerLinkActive="active">Adopción</a>
    <a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a>
    <a routerLink="/Ayudanos" routerLinkActive="active">Ayudanos a mejorar</a>
    <a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a>
    <a routerLink="/Login" routerLinkActive="active"><i class='bx bxs-user'></i></a>
  </nav>
