<section>
    <h2 class="titulo">¿Qué te gustaría ver?</h2>
    
    <div class="categorias">

        <div class="container">
            <a href="#">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/Perros_adopcion.jpg" class="cover_image">
                    </div>
                <img src="../../assets/imagenes/Razas-de-perros-fotor-bg-remover-2023100618155.png" class="character">
                </div>
            </a>
            <div class="texto">
                <h2>Perros</h2>
                <p>El mejor amigo del hombre</p>
            </div>
        </div>

        <div class="container">
            <a routerLink="/MostrarMascotas" routerLinkActive="active">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/cover_gato.jpg" class="cover_image" />
                    </div>
                <img src="../../assets/imagenes/gatos-removebg-preview.png" class="character" />
                </div>
            </a>
            <div class="texto">
                <h2>Gatos</h2>
                <p>Para todos nuestros cat lovers</p>
            </div>
        </div>

        <div class="container">
            <a href="#" alt="Mythrill">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/conejo.jpg" class="cover_image" />
                    </div>
                <img src="../../assets/imagenes/roedores.png.png" class="character" />
                </div>
            </a>
            <div class="texto">
                <h2>Otros</h2>
                <p>Nuestros roedores y mucho más</p>
            </div>
        </div>


    </div>
</section>
<app-navbar></app-navbar>

