<section>
    <h2 class="titulo">¿Qué te gustaría ver?</h2>

    <div class="categorias">

        <div class="container">
            <a routerLink="/mascotas/mostrarPerros" routerLinkActive="active">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/adopcion/photo-1633722715463-d30f4f325e24.jpg" class="cover_image">
                    </div>
                <img src="../../assets/imagenes/adopcion/Razas-de-perros-fotor-bg-remover-2023100618155.png" class="character">
                </div>
            </a>
            <div class="texto">
                <h2>Perros</h2>
                <!-- <p>El mejor amigo del hombre</p> -->
            </div>
        </div>

        <div class="container">
            <a routerLink="/mascotas/mostrarGatos" routerLinkActive="active">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/adopcion/cover_gato.jpg" class="cover_image" />
                    </div>
                <img src="../../assets/imagenes/adopcion/gatos-removebg-preview.png" class="character" />
                </div>
            </a>
            <div class="texto">
                <h2>Gatos</h2>
                <!-- <p>Para todos nuestros cat lovers</p> -->
            </div>
        </div>

        <div class="container">
            <a routerLink="/mascotas/mostrarOtros" routerLinkActive="active">
                <div class="card">
                    <div class="wrapper">
                        <img src="../../assets/imagenes/adopcion/conejo.jpg" class="cover_image" />
                    </div>
                <img src="../../assets/imagenes/adopcion/roedores.png.png" class="character" />
                </div>
            </a>
            <div class="texto">
                <h2>Otros</h2>
                <!-- <p>Nuestros roedores y mucho más</p> -->
            </div>
        </div>


    </div>
</section>
<app-navbar></app-navbar>

