
section{
    background-color: rgb(240, 255, 249);
    width: 100%;
    height: 100%;
    font-family: 'Yusei Magic';
}

h2{
    font-family: 'Margarine';
    font-weight: bold;
    margin-bottom: 2rem;
}

h4{
    color: #5e885d;
    font-weight: bold;
}

.imagendiv{
    /* background-color: #8db398; */
    /* background-color: #a2d1b5; */
    background-image: url(../../../assets/imagenes/adopcion/pawOpacity.jpg);
}

.logo{
    height: 5rem;
    width: auto;
    margin: 1rem 0 2rem 15rem;
}

.divSpan{
    /* background-color: rgb(82, 183, 136); */
    background-color: #5d8c5c;
}

span{
    display: block;
    font-size: .8rem;
    margin-top: -1rem;
    color: #919090;
}

#ficha{
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.504);
}

.container{
    margin-bottom: 2rem;
}

.tarjetas{
    display: flex;

    justify-content: space-evenly;
    /* flex-flow: row; */
    flex-direction: row;
}


.card{
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.362);
    width: 16rem;
    height: 20rem;
    box-shadow: 3px 3px 10px black;
    border-radius: 1.5%;
}

.img_mascota{ /*si aumento esto, tbm debo aumentar el gap de section */
    height: 20rem;
    width: 16rem;
    transition: transform 0.5s;
    animation: girar 3s linear ;
}


.datosAnimal{
    height: 5rem; /* Aqui le muevo para q el cuadrito gris suba o baje*/
    width: 16rem;
    /* position: absolute; */
    box-sizing: border-box;
    margin-top: -5rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.558);
    color: white;
    transition: 0.5s;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)
}


p{
    font-size: 15px;
    margin: 9%;
    visibility: hidden;
    opacity: 0;
}


.card:hover{
    cursor: pointer;
}


.card:hover .datosAnimal{
    height: 8rem; /* Este es el tamaño del cuadrito negro:hover */
    margin-top: -6.55rem;
    background: rgba(0, 0, 0, 0.61);
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)
}


.card:hover p{
    opacity: 1;
    visibility: visible;
}
