<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Vacuna </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="vacuna.nombre"
                            name="nombre">
                    </div>

                    <div class="form-group">
                        <label> tipoAnimal</label>
                        <input type="text" class="form-control" id="tipoAnimal" [(ngModel)]="vacuna.tipoAnimal"
                            name="tipoAnimal">
                    </div>

                    <div class="form-group">
                        <label> num_dosis</label>
                        <input type="number" class="form-control" id="num_dosis" [(ngModel)]="vacuna.num_dosis"
                            name="num_dosis">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
