<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Detalles de la protectora</h1>
        </div>

        <div class="table__body">

            <div>
                <label><strong> Nombre: </strong> {{protectora.nombre}} </label>
            </div>
            <div>
                <label><strong> Localidad: </strong> {{protectora.localidad}} </label>
            </div>
            <div>
                <label><strong> Teléfono: </strong> {{protectora.telefono}} </label>
            </div>
            <div>
                <label><strong> Email: </strong> {{protectora.email}} </label>
            </div>
        </div>

    </main>
</section>

