<section>
    <div class="imagendiv">
        <img src="../../assets/imagenes/logonise.png" class="logo">
    </div>
    <div class="divSpan">
        <br><br>
    </div>
    <span></span>
        <div class="container" id="ficha">
            <h2>Estos son nuestras otras mascotas en adopción!</h2>

            <div class="tarjetas" >
                <div class=" eeeeeee" *ngFor= "let animal of animales">
                    <a [routerLink]="['/animal/mostrarOtros', animal.id]">
                        <div class="card">
                            <img src="../../../assets/imagenes/adopcion/gato.jpg" class="img_mascota">
                            <div class="datosAnimal">
                                <h3>{{animal.nombre }}</h3>
                                <p>{{animal.descripcion }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>

<app-navbar></app-navbar>
<app-footer></app-footer>

