<section>
    <div class="imagendiv">
        <img src="../../assets/imagenes/logonise.png" class="logo">
    </div>
    <div class="divSpan">
        <div class="filtros">
            <h3>Filtrar</h3>
            <form (submit)="buscarPorRaza()">
                <label for="raza">Buscar por Raza:</label>
                <input type="text" id="raza" [(ngModel)]="razaABuscar" name="raza">
                <button type="submit">Buscar</button>
              </form>
            <select id="tipoSexo" name="tipoSexo" class="form-control" #sexo (change)="onSelected(sexo.value, tipoAnimalElegido)">
                <option default = ''></option>
                <option value="0">HEMBRA</option>
                <option value="1">MACHO</option>
            </select>
            <select id="tipoTamanyo" name="tipoTamanyo" class="form-control" #tamanyoElegido (change)="onSelected1(tamanyoElegido.value, tipoAnimalElegido)">
              <option default = ''></option>
              <option value="0">PEQUEÑO</option>
              <option value="1">MEDIANO</option>
              <option value="2">GRANDE</option>
            </select>
        </div>
    </div>
    <span></span>
        <div class="container" id="ficha">
            <h2>Estos son nuestras otras mascotas en adopción!</h2>

            <div class="tarjetas" >
                <div class=" eeeeeee" *ngFor= "let animal of animales">
                    <a [routerLink]="['/animal/mostrarOtros', animal.id]">
                        <div class="card">
                            <img src="../../../assets/imagenes/adopcion/gato.jpg" class="img_mascota">
                            <div class="datosAnimal">
                                <h3>{{animal.nombre }}</h3>
                                <p>{{animal.descripcion }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>
<app-navbar></app-navbar>
<app-footer></app-footer>

