<body>
    <section>
        <h2>Estos son nuestros Gatos para adoptar</h2>
    </section>

    <section>
        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato1.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato2.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato3.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato4.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>
        
        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato5.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato6.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato7.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato8.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>

        <div class="card">
            <img src="../../assets/imagenes/mostar_mascotas/gato9.jpg" class="img_mascota">
            <div class="datosAnimal">
                <h3>Luna</h3>
                <p>Datos de la mascota</p>
            </div>
        </div>


    </section>





























</body>
