<h1>Veterinarios listar working!</h1>

<table class="table table-striped">

    <thead>
        <tr></tr>
            <th>Nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>email</th>
    </thead>
    <tbody>
        <tr *ngFor= "let veterinario of veterinarios">
            <td> {{veterinario.nombre }} </td>
            <td> {{veterinario.direccion }} </td>
            <td> {{veterinario.telefono }} </td>
            <td> {{veterinario.email }} </td>

        </tr>


    </tbody>


</table>