<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Veterinarios asociadas</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar veterinario...">
            </div>
        </div>

        <div class="buttonAdd">
            <i class='bx bxs-plus-circle' [routerLink]="['veterinariosCrear']"></i>
            <p>Añadir</p>
        </div>
        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let veterinario of veterinarios">
                        <td> <strong> {{veterinario.id}} </strong> </td>
                        <td> {{veterinario.nombre}} </td>
                        <td> {{veterinario.direccion}} </td>
                        <td> {{veterinario.telefono}} </td>
                        <td> <p>{{veterinario.email}}</p> </td>
                        <td class="opciones">
                            <div class="buttonEdit">
                                <i class='bx bxs-edit'[routerLink]="['update-veterinario', veterinario.id]" ></i>
                            </div>
                            <div class="buttonDelete">
                                <i (click)="deleteVeterinario(veterinario.id)" class='bx bxs-trash'></i>
                            </div>
                            <div class="buttonDetail">
                                <i class='bx bxs-detail' [routerLink]="['veterinario-details', veterinario.id]" ></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</section>
