<h1>Veterinarios listar working!</h1>
<table class="table table-striped">

    <thead>
        <tr></tr>
            <th>Nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>email</th>
            <th>Botones</th>
    </thead>
    <tbody>
        <tr *ngFor= "let veterinario of veterinarios">
            <td> {{veterinario.nombre }} </td>
            <td> {{veterinario.direccion }} </td>
            <td> {{veterinario.telefono }} </td>
            <td> {{veterinario.email }} </td>
            <td><button  [routerLink]="['update-veterinario', veterinario.id]" class="btn btn-primary">Update</button>
                <button  (click)="deleteVeterinario(veterinario.id)" style="margin-left: 10px"  class = "btn btn-danger"> Delete</button>
                <button [routerLink]="['veterinario-details', veterinario.id]" class="btn btn-primary">Detail</button></td>

        </tr>


    </tbody>


</table>
