.prueba{
    background: url(../../../assets/imagenes/prueba6.jpg);
    contain:cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  section{
    min-height: 100vh;
    /* background: url(images/html_table.jpg) center / cover; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
  }

  .table__header {
    width: 100%;
    height: 15%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
  }

  .table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
  }

  .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .table__body {
    width: 95%;
    height: 70%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

  .table__body::-webkit-scrollbar{
      width: 0.5rem;
      height: 0.5rem;
  }

  .table__body::-webkit-scrollbar-thumb{
      border-radius: .5rem;
      background-color: #e895309b;
      visibility: hidden;
  }

  .table__body:hover::-webkit-scrollbar-thumb{
      visibility: visible;
  }

  table {
      width: 100%;
  }

  td img {
      width: 36px;
      height: 36px;
      margin-right: .5rem;
      border-radius: 50%;

      vertical-align: middle;
  }

  table, th, td {
      border-collapse: collapse;
      padding: 1rem;
      text-align: left;
      text-align: center;
  }

  thead th {
      position: sticky;
      top: 0;
      left: 0;
      background-color: #e89530fe;
      cursor: pointer;
      text-transform: capitalize;
      color: rgb(255, 255, 255)
  }

  tbody tr:nth-child(even) {
      background-color: #e895302d;
  }

  tbody tr {
      --delay: .1s;
      transition: .5s ease-in-out var(--delay), background-color 0s;
      text-align: center;
  }

  tbody tr.hide {
      opacity: 0;
      transform: translateX(100%);
  }

  tbody tr:hover {
    font-weight: bold !important;
  }


  @media (max-width: 1000px) {
      td:not(:first-of-type) {
          min-width: 12.1rem;
      }
  }

  thead th span.icon-arrow {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      border: 1.4px solid transparent;

      text-align: center;
      font-size: 1rem;

      margin-left: .5rem;
      transition: .2s ease-in-out;
  }


  .logo{
    height: 5rem;
    width: auto;
    margin: 1rem;
    }

    h1{
    font-family: 'Margarine';
    }

    .opciones{
        display: flex;
        justify-content: space-evenly;
    }

    .buttonEdit{
        color: #20ac23;
        font-size: 1.5rem;
    }

    .buttonDelete{
        color: #d54141;
        font-size: 1.5rem;
    }

    .buttonDetail{
        color: #417ad5;
        font-size: 1.5rem;
    }

    .buttonAdd{
      color: #b17714;
      font-size: 1.5rem;
      margin: 1rem 0 0 2.8rem;
      display: flex;
      align-items: center;
    }

    .buttonAdd p{
      margin-left: 0.5rem;
    }
