<router-outlet></router-outlet>
<html>

<body>
    <div class="header">SOY EL HEADER</div>
    <nav class="cuerpo">
        <div class="titulo">
            <p>Contacta con nosotros</p>
        </div>
        <div class="cuerpecito">
            <div class="contenido">
                <div class="input-field">
                    <input type="text" required>
                    <label>Nombre</label>
                </div>
                <div class="input-field">
                    <input type="text" required>
                    <label>Email</label>
                </div>
                <div class="input-field">
                    <input type="text" required>
                    <label>Mensaje</label>
                </div>
                <button>Enviar</button>
                
            </div>
            <div class="imagen">
                <img src="../../assets/imagenes/pipican.jpg">
            </div>




        </div>


    </nav>
</body>