<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Veterinario </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="veterinario.nombre"
                            name="nombre">
                    </div>

                    <div class="form-group">
                        <label> direccion</label>
                        <input type="text" class="form-control" id="direccion" [(ngModel)]="veterinario.direccion"
                            name="direccion">
                    </div>

                    <div class="form-group">
                        <label> telefono</label>
                        <input type="text" class="form-control" id="telefono" [(ngModel)]="veterinario.telefono"
                            name="telefono">
                    </div>

                    <div class="form-group">
                        <label> email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="veterinario.email"
                            name="email">
                    </div>

                    <div class="form-group">
                        <label> mapa</label>
                        <input type="text" class="form-control" id="mapa" [(ngModel)]="veterinario.mapa"
                            name="mapa">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
