<body>
    <div class="error">
        <div class="blanco">
            <div class="gif">
                <img src="assets/imagenes/gif.gif" alt="Error 404" class="doggo" />
                <img src="assets/imagenes/404.gif" alt="Error 404" class="numero"/>
            </div>
            <h3><br/>Lo sentimos... <br/>Parece que esta página no existe :(</h3>
            <audio autoplay>
                <source src="assets/audio/animales.mp3" type="audio/mpeg">
                Tu navegador no soporta la reproducción de audio.
              </audio>
        </div>
    </div>
</body>