<div class="body">
<p class="titulo">Veterinarios en tu zona</p>
<div class="vetes">
    <div class="info">
    <h1>Centro Sanican</h1>
    <h4 class="desc">Esto es una breve descripción del veterinario donde se menciona sus servicios y otras cosas como su reputación, localización, su forma de trabajo o los animales en los que están especializados.</h4>
    <img class="imagevetes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs-aR_5R0G-bAxZE4cfjlDcl678G4rGn7T8Q&usqp=CAU">
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.861979479899!2d-5.9714089999999995!3d37.393096199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ea5504f73d5%3A0xf52358752bb86156!2sAv.%20de%20Kansas%20City%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1695909749630!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="vetes">
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.861979479899!2d-5.9714089999999995!3d37.393096199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ea5504f73d5%3A0xf52358752bb86156!2sAv.%20de%20Kansas%20City%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1695909749630!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="info">
    <h1>Bellavista Center</h1>
    <h4 class="desc">Esto es una breve descripción del veterinario donde se menciona sus servicios y otras cosas como su reputación, localización, su forma de trabajo o los animales en los que están especializados.</h4>
    <img class="imagevetes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSloQQpW2yehp11yzn5JdHUuaigO6MsjF4Erg&usqp=CAU">
    </div>
</div>

<div class="vetes">
    <div class="info">
    <h1>Centro Santa Justa</h1>
    <h4 class="desc">Esto es una breve descripción del veterinario donde se menciona sus servicios y otras cosas como su reputación, localización, su forma de trabajo o los animales en los que están especializados.</h4>
    <img class="imagevetes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiMOoXDarch4OWi8vGdhvlo4toY4DycsvviA&usqp=CAU">
    </div>
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.861979479899!2d-5.9714089999999995!3d37.393096199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ea5504f73d5%3A0xf52358752bb86156!2sAv.%20de%20Kansas%20City%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1695909749630!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="vetes">
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.861979479899!2d-5.9714089999999995!3d37.393096199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ea5504f73d5%3A0xf52358752bb86156!2sAv.%20de%20Kansas%20City%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1695909749630!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="info">
    <h1>Macarena Pets</h1>
    <h4 class="desc">Esto es una breve descripción del veterinario donde se menciona sus servicios y otras cosas como su reputación, localización, su forma de trabajo o los animales en los que están especializados.</h4>
    <img class="imagevetes" src="https://fotografias.antena3.com/clipping/cmsimages01/2023/04/17/CAE1D076-B306-4CD1-9EE2-7B68CA07DB5D/veterinario_103.jpg?crop=5279,3959,x0,y0&width=1200&height=900&optimize=low&format=webply">
    </div>
</div>
</div>
