@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap');

section{
  padding: 2rem 9%;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url(../../assets/imagenes/pawprints);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(230, 176, 140);
}

.home h1{
  margin-top: 130px;
  margin-bottom: 40px;
}

.home .content{
  max-width: 45rem;
}


.home .content span{
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  line-height: 1.5;
  font-family: 'Lobster Two', cursive;
  text-align: center;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}

.home .content p{
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  line-height: 1.5;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}


.vetes{
  margin: 20px auto;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(230, 176, 140);
}

.vetes div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.vetes div img{
  max-width:22vmax;
  margin-bottom: 10px;
}
.vetes div iframe{
  max-width:22vmax;
  margin-top: 10px;
}