<div class="wrapper">
<section>
    <div class="imagendiv">
        <img src="../../assets/imagenes/logonise.png" class="logo">
    </div>
    <div class="divSpan">
        <br><br>
    </div>
    <span></span>
        <div class="container">
            <div class="row" id="ficha">
                    <div class="col-12 col-md-3">
                        <img id="animal" src="../../../assets/imagenes/adopcion/gato.jpg">
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="boton">
                            <h1 class="mt-4">{{animal.nombre}}</h1>
                            
                            <a [routerLink]="['/solicituds/solicitud', animal.id]" class="a2">
                                <button>
                                    <svg class="empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0H24V24H0z"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z"></path></svg>
                                    <svg class="filled" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V24H0z" fill="none"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path></svg>
                                    Adoptar
                                </button>
                            </a>
                        </div>
                        <hr class="my-3">

                        <div class="info">

                            <h4 class="mb-5">Mis datos</h4>

                            <div class="row" id="caracteristicas">
                                <div class="col-6 col-md-3 mb-4">
                                    <p>{{animal.tipoAnimal | titlecase }}</p>
                                    <span>Especie</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.raza}}</p>
                                    <span>Raza</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.edad}} años</p>
                                    <span>Edad</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.tipoSexo  | titlecase }}</p>
                                    <span>Género</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.tipoTamanyo | titlecase }}</p>
                                    <span>Tamaño</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.disponibilidad  ? 'Sí' : 'No'}}</p>
                                    <span>Disponible</span>
                                </div>
                                <div class="col-6 col-md-3">
                                    <p>{{animal.chip  ? 'Sí' : 'No'}}</p>
                                    <span>Chip</span>
                                </div>
                            </div>
                                <h4 class="mt-5">Mi historia</h4>
                                <p>{{animal.descripcion}}</p>

                                <img id="bannerVeterinario" src="../../assets/imagenes/adopcion/bannerVeterinario.jpg">
                        </div>
                </div>
            </div>
        </div>
</section>
</div>
<app-navbar></app-navbar>
<app-footer></app-footer>

