
<div class="wrapper">
    <section>
      <div class="imagendiv">
        <a href="/Inicio">
        <img src="../../assets/imagenes/logonise.png" class="logo">
        </a>
      </div>
        <div class="divSpan">
          <div class="filtros">
            <div class="selectors">
              <h3>Filtrar</h3>
              <form (submit)="buscarPorRaza()">
                <div class="group">
                  <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                  <input placeholder="Buscar por raza" type="search" class="input">
                </div>
                <button class="button" type="submit">B</button>
              </form>

              <select id="tipoSexo" name="tipoSexo" class="form-control" #sexo (change)="onSelected(sexo.value, tipoAnimalElegido)">
                  <option default = 'Selecciona uno'></option>
                  <option value="0">HEMBRA</option>
                  <option value="1">MACHO</option>
              </select>
              <select id="tipoTamanyo" name="tipoTamanyo" class="form-control" #tamanyoElegido (change)="onSelected1(tamanyoElegido.value, tipoAnimalElegido)">
                <option default = 'Selecciona uno'></option>
                <option value="0">PEQUEÑO</option>
                <option value="1">MEDIANO</option>
                <option value="2">GRANDE</option>
              </select>
            </div>
          </div>
        </div>
        <span></span>
            <div class="container">
                <h2>Estos son nuestras perros en adopción!</h2>

                <div class="tarjetas" >
                  <ng-container *ngIf="animales && animales.length > 0; else noResults">
                    <div class=" eeeeeee" *ngFor= "let animal of animales">
                        <a [routerLink]="['/animal/mostrarPerros', animal.id]">
                            <div class="card">
                                <img src="../../../assets/imagenes/adopcion/gato.jpg" class="img_mascota">
                                <div class="datosAnimal">
                                    <h3>{{animal.nombre }}</h3>
                                    <p>{{animal.descripcion }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                  </ng-container>
                  <ng-template #noResults>
                    <p>No se encontraron resultados</p>
                  </ng-template>
                </div>
            </div>
    </section>
</div>

<app-navbar></app-navbar>
<app-footer></app-footer>

