<div class = "row">
    <a routerLink="/Inicio" routerLinkActive="active"> Inicio</a>
    <h1>Perros</h1>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>raza</th>
            <th>edad</th>
            <th>chip</th>
            <th>tipo Animal</th>
            <th>tipo Sexo</th>
            <th>tipo Tamanyo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let animal of animales">
            <td> {{animal.nombre }} </td>
            <td> {{animal.raza }} </td>
            <td> {{animal.edad }} </td>
            <td> {{animal.chip }} </td>
            <td> {{animal.tipoAnimal }} </td>
            <td> {{animal.tipoSexo }} </td>
            <td> {{animal.tipoTamanyo }} </td>
        </tr>
    </tbody>
</table>