<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Usuarios asociados</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar usuario...">
            </div>
        </div>

        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let usuario of usuarios">
                        <td> <strong> {{usuario.id}} </strong> </td>
                        <td> {{usuario.nombre}} </td>
                        <td> {{usuario.loginDTO }} </td>
                        <td class="opciones">
                            <div class="buttonDetail">
                                <i class='bx bxs-detail' [routerLink]="['usuario-details', usuario.id]" ></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</section>
