<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update mascota </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="animal.nombre"
                            name="nombre">
                    </div>

                    <div class="form-group">
                        <label> raza</label>
                        <input type="text" class="form-control" id="raza" [(ngModel)]="animal.raza"
                            name="raza">
                    </div>

                    <div class="form-group">
                        <label> edad</label>
                        <input type="text" class="form-control" id="edad" [(ngModel)]="animal.edad"
                            name="edad">
                    </div>

                    <div class="form-group">
                        <label> disponibilidad</label>
                        <input type="text" class="form-control" id="disponibilidad" [(ngModel)]="animal.disponibilidad"
                            name="disponibilidad">
                    </div>

                    <div class="form-group">
                        <label> chip</label>
                        <input type="text" class="form-control" id="chip" [(ngModel)]="animal.chip"
                            name="chip">
                    </div>

                    <div class="form-group">
                        <label> tipoAnimal</label>
                        <input type="text" class="form-control" id="tipoAnimal" [(ngModel)]="animal.tipoAnimal"
                            name="tipoAnimal">
                    </div>

                    <div class="form-group">
                        <label> tipoSexo</label>
                        <input type="text" class="form-control" id="tipoSexo" [(ngModel)]="animal.tipoSexo"
                            name="tipoSexo">
                    </div>

                    <div class="form-group">
                        <label> tipoTamanyo</label>
                        <input type="text" class="form-control" id="edad" [(ngModel)]="animal.tipoTamanyo"
                            name="tipoTamanyo">
                    </div>

                    <div class="form-group">
                        <label> fecha_entrada_protectora</label>
                        <input type="text" class="form-control" id="fechaEntradaProtectora" [(ngModel)]="animal.fechaEntradaProtectora"
                            name="fechaEntradaProtectora">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
