<div class="prueba">
    <section>
        <main class="table">

            <div class="table__header">
                <img src="../../assets/imagenes/logonise.png" class="logo">
                <h1>Detalles de la solicitud para adopción de {{solicitud.animalDTO}}</h1>
            </div>

            <div class="table__body">

                <div>
                    <label><strong> Título: </strong> {{solicitud.tituloMotivo}} </label>
                </div>
                <div>
                    <label><strong> Motivo: </strong> {{solicitud.motivo}} </label>
                </div>

                <div>
                    <label><strong> Solicitada por: </strong> {{solicitud.usuarioDTO}} </label>
                </div>

                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">

                        <div>
                            <label><strong> ¿Qué deseas hacer con la solicitud? </strong></label>
                        </div>
        
                       
                        <div class="form-group">
                            <label> Editar estado</label>
                            <select id="estadoSolicitud" [(ngModel)]="solicitud.estadoSolicitud" name="estadoSolicitud" class="styled-select">
                            <option value="ACEPTADO">Aceptar</option>
                            <option value="RECHAZADO">Rechazar</option>
                            </select>
                        </div>
    
                        <br/>
                        <button class="button" type="submit">Enviar</button>
                       
                    </form>
                </div>

            </div>

        </main>
    </section>



</div>

