<h2> Detalles de las mascotas</h2>

<div>
    <div>
        <label> <b> nombre: </b></label> {{mascota.nombre}}
    </div>
    <div>
        <label> <b> tipoAnimal: </b></label> {{mascota.descripcion}}
    </div>
    <div>
        <label> <b> raza </b></label> {{mascota.raza}}
    </div>
    <div>
        <label> <b> edad </b></label> {{mascota.edad}}
    </div>
    <div>
        <label> <b> disponibilidad </b></label> {{mascota.disponibilidad}}
    </div>
    <div>
        <label> <b> chip </b></label> {{mascota.chip}}
    </div>
    <div>
        <label> <b> tipoAnimal </b></label> {{mascota.tipoAnimal}}
    </div>
    <div>
        <label> <b> tipoSexo </b></label> {{mascota.tipoSexo}}
    </div>
    <div>
        <label> <b> tipoTamanyo </b></label> {{mascota.tipoTamanyo}}
    </div>
    <div>
        <label> <b> fecha_entrada_protectora </b></label> {{mascota.fecha_entrada_protectora}}
    </div>
</div>

