<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Detalles de la vacuna</h1>
        </div>

        <div class="table__body">

            <div>
                <label><strong> Nombre: </strong> {{vacuna.nombre}} </label>
            </div>
            <div>
                <label><strong> Especie: </strong> {{vacuna.tipoAnimal}} </label>
            </div>
            <div>
                <label><strong> Número de dosis: </strong> {{vacuna.num_dosis}} </label>
            </div>

          <pre>{{ vacuna | json }}</pre>
        </div>

    </main>
</section>

