<h3>Registrar animal</h3>

<form (ngSubmit) = "onSubmit()"  #protectoraForm="ngForm">

    <div class="form-group">
        <label> Nombre </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.nombre" name= "Nombre">
    </div>

    <div class="form-group">
        <label> descripcion </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.descripcion" name= "descripcion">
    </div>

    <div class="form-group">
        <label> raza </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.raza" name= "raza">
    </div>

    <div class="form-group">
        <label> edad </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.edad" name= "edad">
    </div>

    <div class="form-group">
        <label> disponibilidad </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.disponibilidad" name= "disponibilidad">
    </div>

    <div class="form-group">
        <label> chip </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.chip" name= "chip">
    </div>

    <div class="form-group">
        <label> tipoAnimal </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.tipoAnimal" name= "tipoAnimal">
    </div>

    <div class="form-group">
        <label> tipoSexo </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.tipoSexo" name= "tipoSexo">
    </div>

    <div class="form-group">
        <label> tipoTamanyo </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.tipoTamanyo" name= "tipoTamanyo">
    </div>

    <div class="form-group">
        <label> fecha_entrada_protectora </label>
        <input type="text" class="form-control"
            [(ngModel)] = "mascota.fecha_entrada_protectora" name= "fecha_entrada_protectora">
    </div>

    <button type="submit">Guardar</button>

</form>