@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap');
body{

  overflow: hidden;
  background-image: linear-gradient(to bottom, #c1b7ab, #c3b8ad, #c5b9ae, #c6bab0, #c8bbb2, #c9bcb3, #c9bdb4, #cabeb5, #cabeb5, #cabfb5, #cabfb6, #cabfb6);
}
.doggo{
  background-image: url("../../assets/imagenes/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin: 0%;
  padding: -100px;
  height: 100vh;
  overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #e7e7e0;
    padding: 20px;
    border-radius: 20px;
    margin: 100px auto;
    padding: 40px 70px;
    box-shadow: 5px 4px 7px 2px dimgray;
    font-size: 22px;
  }
  
  .title {
    font-family: 'Lobster Two', cursive;
    font-size: 38px;
    color: #4e7967;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #4e7967;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #4e7967;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 18px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #4e7967;
  }
  
  .signin a:hover {
    text-decoration: underline #4e7967;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 0px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.6em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: #4e7967;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: #4e7967;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition-duration: 0.5s;
  }
  
  .submit:hover {
    background-color: #406354;
    transition-duration: 0.5s;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }