
<body>
    <div class="img">
        <img src="../../assets/imagenes/registroprotectoraperro.jpg">
    </div>
    <div class="doggo">
        <form class="form">
            <p class="title">Registro de protectoras</p>
            <p class="message">Regístrate como protectora</p>
            
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nombre</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="number" class="input">
                <span>Teléfono</span>
            </label>
                    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Email</span>
            </label> 
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Usuario</span>
            </label>    
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Contraseña</span>
            </label>
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Repita contraseña</span>
            </label>
            <button class="submit">Registrar</button>
        </form>
    </div>
    </body>
