
<div class="body">
    <div class="wrapper">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div class="input-box">
                <input formControlName="username" type="tex" placeholder="Nombre de usuario"
                required>

            </div>
            <div class="input-box">
                <input type="password" formControlName="password" placeholder="Contraseña" required>

            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Recuérdame</label>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn">Conectarse</button>
            <div class="register-link">
                <p>¿No tienes una cuenta? </p>
                <a type="button" routerLink="/registerUsuario" routerLinkActive="active">
                    Regístrate
                </a>
            </div>
            <div class="register-link">
                <a type="button" routerLink="/registerProtectora" routerLinkActive="active">
                    Quiero registrarme como protectora
                </a>
            </div>
        </form>
    </div>
