<header *ngIf="rol === ''">

    <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

    <nav class="navbar">
        <a routerLink="/Inicio" routerLinkActive="active" class="a1">Inicio</a>
        <a routerLink="/Adopcion" routerLinkActive="active"class="a2">Adopción</a>
        <a routerLink="/Veterinario" routerLinkActive="active"class="a3">Veterinarios Cercanos</a>
        <a routerLink="/Ayudanos" routerLinkActive="active"class="a4">Ayudanos a mejorar</a>
        <a routerLink="/Contacta" routerLinkActive="active"class="a5">Contacta con nosotros</a>
    </nav>
    <div class="inicio_sesion">
      <a routerLink="/Login" routerLinkActive="active" class="action_btn">Inicio de sesión</a>
    </div>

    <div class="toggle_btn" (click)="toggleClass()" >
      <img src="../../assets/imagenes/menu.png"  alt="">
    </div>

    <div class="dropdown_menu " [ngClass]="{'open': isActive}">
      <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
      <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
      <li><a routerLink="/Ayudanos" routerLinkActive="active">Ayudanos a mejorar</a></li>
      <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
      <li><a href="/Login" class="action_btn">Inicio de sesión</a></li>
    </div>

  </header>

  <header *ngIf="rol === 'USUARIO'">

  <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

  <nav class="navbar">
      <a routerLink="/Inicio" routerLinkActive="active" class="usuario">Inicio</a>
      <a routerLink="/Adopcion" routerLinkActive="active"class="usuario">Adopción</a>
      <a routerLink="/Veterinario" routerLinkActive="active"class="usuario">Veterinarios Cercanos</a>
      <a routerLink="/Ayudanos" routerLinkActive="active"class="usuario">Ayudanos a mejorar</a>
      <a routerLink="/Contacta" routerLinkActive="active"class="usuario">Contacta con nosotros</a>
      <a routerLink="/usuarios/perfil" routerLinkActive="active"class="usuario">Mi perfil</a>
  </nav>
  <div class="inicio_sesion">
    <a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a>
  </div>

  <div class="toggle_btn" (click)="toggleClass()" >
    <img src="../../assets/imagenes/menu.png"  alt="">
  </div>

  <div class="dropdown_menu " [ngClass]="{'open': isActive}">
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
    <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
    <li><a routerLink="/Ayudanos" routerLinkActive="active">Ayudanos a mejorar</a></li>
    <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
    <li><a routerLink="/Perfil" routerLinkActive="active"class="a5">Mi perfil</a></li>
    <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
  </div>

  </header>

  <header *ngIf="rol === 'PROTECTORA'">

  <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

  <nav class="navbar">
      <a routerLink="/Inicio" routerLinkActive="active" class="a1">Inicio</a>
      <a routerLink="/animal/animalProtectoras" routerLinkActive="active"class="a2">Gestionar Mascotas</a>
      <a routerLink="/Veterinario" routerLinkActive="active"class="a3">Gestionar Adopciones</a>
      <a routerLink="/usuarios/perfil" routerLinkActive="active"class="a5">Nuestro perfil</a>
  </nav>
  <div class="inicio_sesion">
    <a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a>
  </div>

  <div class="toggle_btn" (click)="toggleClass()" >
    <img src="../../assets/imagenes/menu.png"  alt="">
  </div>

  <div class="dropdown_menu " [ngClass]="{'open': isActive}">
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Adopcion" routerLinkActive="active">Gestionar Mascotas</a></li>
    <li><a routerLink="/Veterinario" routerLinkActive="active">Gestionar Adopciones</a></li>
    <li><a routerLink="/Perfil" routerLinkActive="active"class="a5">Nuestro perfil</a></li>
    <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
  </div>

  </header>

  <header *ngIf="rol === 'ADMIN'">

  <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

  <nav class="navbar">
      <a routerLink="/usuarios/usuariosListar" routerLinkActive="active"class="admin">Gestion de Usuarios</a>
      <a routerLink="/protectora/protectorasListar" routerLinkActive="active"class="admin">Gestion de Protectoras</a>
      <a routerLink="/veterinarios/veterinariosListar" routerLinkActive="active"class="admin">Gestion de Veterinarios</a>
      <a routerLink="/vacuna/vacunasListar" routerLinkActive="active"class="admin">Gestion de Vacunas</a>
      <a routerLink="/Contacta" routerLinkActive="active"class="admin">Adopcion de Protectoras</a>
      <a routerLink="/Contacta" routerLinkActive="active"class="admin">Adopcion de Usuarios</a>
  </nav>
  <div class="inicio_sesion">
    <a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a>
  </div>

  <div class="toggle_btn" (click)="toggleClass()" >
    <img src="../../assets/imagenes/menu.png"  alt="">
  </div>

  <div class="dropdown_menu " [ngClass]="{'open': isActive}">
    <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/Adopcion" routerLinkActive="active">Gestion de Usuarios</a></li>
    <li><a routerLink="/protectora/protectorasListar" routerLinkActive="active">Gestion de Protectoras</a></li>
    <li><a routerLink="/veterinarios/veterinariosListar" routerLinkActive="active">Gestion de Veterinarios</a></li>
    <li><a routerLink="/vacuna/vacunasListar" routerLinkActive="active">Gestion de Vacunas</a></li>
    <li><a routerLink="/Contacta" routerLinkActive="active">Gestion de Adopcion de Protectoras</a></li>
    <li><a routerLink="/Contacta" routerLinkActive="active">Gestion de Adopcion de Usuarios</a></li>
    <li><a routerLink="/Login" routerLinkActive="active" class="action_btn" (click)="logout()">Cerrar Sesión</a></li>
  </div>

  </header>
  <section class="home" id="home">
    <div class="content">
      <h3>Veterinarios en tu zona</h3>
      <p>
        Aquí mostramos una serie de veterinarios dedicados a brindar atención tanto a nuestras mascotas como a las tuyas.
        Estos profesionales se preocupan por la salud y la felicidad de tus compañeros peludos, desde chequeos de rutina hasta servicios más especializados, nuestros veterinarios están aquí para cuidar mascotas.
        Descubre sus servicios y confía en su experiencia para mantenerlos en las mejores condiciones.
      </p>
      <p class="text-center mb-5">Conoce a los veterinarios locales listos para ayudarte.</p>
    </div>
    <div class="dosvetes">
      <div class="contenedor">
        <div class="row">
          <div class="col-md-6" *ngFor="let vete of veterinarios">
            <div class="card" style="--clr: #009688">
              <div class="img-box">
                <img [src]="vete.imagenUrl">
              </div>
              <div class="content">
                <h2>{{ vete.nombre }}</h2>
                <p>{{ vete.direccion }}<br/> {{ vete.telefono }}<br/> {{ vete.email }}</p>
                <a [href]="vete.mapa">Ver mapa</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
