@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap');

section{
  padding: 2rem 9%;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url(../../../assets/imagenes/pawprints2);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #502D16;
}

.home h1{
  margin-top: 130px;
  margin-bottom: 40px;
  color: white;
}

.home .content{
  max-width: 45rem;
}


.home .content p{
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  line-height: 1.5;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}

.bgvetes{
  background-color: rgb(116, 90, 75);
}

.vetes{
  margin: 20px auto;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #502D16;
  color: white;
}

.vetes div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.vetes div h1{
  text-align: center;
  padding: 15px;
}

.vetes div p{
  text-align: center;
  padding: 0 15px;
}

.vetes div img{
  max-width:22vmax;
  margin-top: 20px;
  margin-bottom: 10px;
}
