
<section class="home" id="home" >
    <div class="content">
        <h1>Veterinarios en tu zona</h1>
        <p>Te presentamos una serie de veterinarios dedicados a brindar atención de alta calidad a tus mascotas cerca de ti. Estos profesionales se preocupan por la salud y la felicidad de tus compañeros peludos, desde chequeos de rutina hasta servicios especializados, nuestros veterinarios están aquí para cuidar de tus mascotas. Descubre sus servicios y confía en su experiencia para mantenerlos en las mejores condiciones. <br/>¡Conoce a los veterinarios locales listos para ayudarte!</p>
    </div>
</section>
<section class="bgvetes" *ngFor="let veterinario of veterinarios; let i = index">
<div *ngIf="i % 2 === 0; then modelo1Template else modelo2Template"></div>


<ng-template #modelo1Template>
    <div class="vetes">
        <div>
            <h1>{{veterinario.nombre}}</h1>
            <p>{{veterinario.direccion}}</p>
            <p>{{veterinario.telefono}}</p>
            <p>{{veterinario.email}}</p>
        </div>
        <div>
            <img src="https://universidadeuropea.com/resources/media/images/salidas-veterinaria-1200x630_oti17Ra.original.jpg">
            <iframe [src]="veterinario.mapa" frameBorder="0" style="border: 0" allowfullscreen></iframe>
            
        </div>
    </div>
</ng-template>

<ng-template #modelo2Template>
<div class="vetes">
    <div>
        <img src="https://universidadeuropea.com/resources/media/images/salidas-veterinaria-1200x630_oti17Ra.original.jpg">
        <iframe [src]="veterinario.mapa"></iframe>
    </div>
    <div>
        <h1>{{veterinario.nombre}}</h1>
        <p>{{veterinario.direccion}}</p>
        <p>{{veterinario.telefono}}</p>
            <p>{{veterinario.email}}</p>
    </div>
</div>
</ng-template>
</section>

