<section>
    <main class="table">

        <div class="table__header">
            <img src="../../assets/imagenes/logonise.png" class="logo">
            <h1>Añadir una vacuna</h1>
        </div>

        <div class="table__body">
            <form (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <label> Nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="vacuna.nombre"
                        name="nombre">
                </div>


                <div class="form-group">
                    <label> Especie</label>
                    <input type="text" class="form-control" id="tipoAnimal" [(ngModel)]="vacuna.tipoAnimal"
                        name="tipoAnimal">
                </div>


                <div class="form-group">
                    <label> Número de dosis </label>
                    <input type="text" class="form-control" id="num_dosis" [(ngModel)]="vacuna.num_dosis"
                        name="num_dosis">
                </div>


                <br />
                <button class="button" type="submit">Crear</button>


            </form>


        </div>

    </main>
</section>

