<body>
      <main>
        <section class="section">
            <div class="bannner-container">
                <div class="slider position slide">
                </div>
            </div>
        </section>
        <section class="section">
          <h1>CSS</h1>
          <p>Learn about CSS</p>
        </section>
        <section class="section">
          <h1>JavaScript</h1>
          <p>Learn about JavaScript</p>
        </section>
        <section class="section">
          <h1>React</h1>
          <p>Learn about React</p>
        </section>
        <section class="section">
          <h1>Svelte</h1>
          <p>Learn about Svelte</p>
        </section>
      </main>
    <app-footer></app-footer>
</body> 
