/* LOS IMPORTES AQUI */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yusei+Magic&display=swap');


/*CONFIGURACION DE LA PAGINA PRINCIPAL EN BASE A SECTIONS*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', sans-serif;
  
}
body {
  height: 100vh;
  background-image: url('https://i.pinimg.com/736x/53/9e/13/539e13e44efe00470c0f5df89201ba23.jpg');
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover{
  color: #092;
}

header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  font-size: 16px;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/*Dropdown para la parte responsive*/


.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
  z-index: 1;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive*/

@media(max-width: 992px){
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
    
  }
  .dropdown_menu {
    display: block;
  }
}

.logo img{
  width: 100px;
  border-radius: 30px;
}

/* CONFIGURACIO DEL SECTION */

.prueba {
  margin: 5%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  text-align: justify;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.texto {
  text-align: justify;
  font-family: 'Yusei Magic', sans-serif;
  margin-left: 5%;
  margin-right: 5%;

}
.img{
  width: 250px;
  border-radius: 15px;
}

.boton{
  margin-top: 5%;
  margin-bottom: 10%;
  padding-left: 17%;

}
