<body>
  <header>
    <div class="navbar">
      <div class="logo"><img src="../../assets/imagenes/logonise.png"></div>
      <ul class="links">
        <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
        <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
        <li><a routerLink="/Quienes_somos" routerLinkActive="active">¿Quienes Somos?</a></li>
        <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
      </ul>
      <a href="#" class="action_btn">Inicio de sesión</a>
      <div class="toggle_btn" (click)="toggleClass()" >
        <img src="../../assets/imagenes/menu.png"  alt="">
      </div>
    </div>

    <div class="dropdown_menu " [ngClass]="{'open': isActive}">
      <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
      <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
      <li><a routerLink="/Quienes_somos" routerLinkActive="active">¿Quienes Somos?</a></li>
      <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
      <li><a href="/Login" class="action_btn">Inicio de sesión</a></li>
    </div>
  </header>
  <section class="home" id="home">
     <div class="content">
        <h3>Adopta 🤍 Difunde 🤍 Salva</h3>
        <span>Agrupación de protectora unidas. ¡Registrate y difunde!</span>
        <p>Todos los animales publicados en Nise Adoptions, provienen de entidades protectoras de animales.
          Así que tenemos la certeza de que realmente necesitan un hogar. En Nise Adoptions tenemos la meta 
          de salvar el maximo número de animales posibles, y por supuesto de que encuentre un amigo que este
          contigo siempre.
        </p>
           <a href="" class="btn">Unete a nosotros</a>
     </div>
  </section>
    <section class="home" id="home">
     <div class="content">
        <h3>Adopta 🤍 Difunde 🤍 Salva</h3>
        <span>Agrupación de protectora unidas. ¡Registrate y difunde!</span>
        <p>Todos los animales publicados en Nise Adoptions, provienen de entidades protectoras de animales.
          Así que tenemos la certeza de que realmente necesitan un hogar. En Nise Adoptions tenemos la meta 
          de salvar el maximo número de animales posibles, y por supuesto de que encuentre un amigo que este
          contigo siempre.
        </p>
           <a href="" class="btn">Unete a nosotros</a>
     </div>
  </section>
  <app-footer></app-footer>
</body>
  
