
<header>

    <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>

    <nav class="navbar">
        <a routerLink="/Inicio" routerLinkActive="active" class="a1">Inicio</a>
        <a routerLink="/Adopcion" routerLinkActive="active"class="a2">Adopción</a>
        <a routerLink="/Veterinario" routerLinkActive="active"class="a3">Veterinarios Cercanos</a>
        <a routerLink="/Quienes_somos" routerLinkActive="active"class="a4">¿Quienes Somos?</a>
        <a routerLink="/Contacta" routerLinkActive="active"class="a5">Contacta con nosotros</a>
    </nav>

    <div class="inicio_sesion">
      <button href="#" class="action_btn">Inicio de sesión</button>
    </div>
    <div class="toggle_btn" (click)="toggleClass()" >
      <img src="../../assets/imagenes/menu.png"  alt="">
    </div>
    <div class="dropdown_menu " [ngClass]="{'open': isActive}">
      <li><a routerLink="/Inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/Adopcion" routerLinkActive="active">Adopción</a></li>
      <li><a routerLink="/Veterinario" routerLinkActive="active">Veterinarios Cercanos</a></li>
      <li><a routerLink="/Quienes_somos" routerLinkActive="active">¿Quienes Somos?</a></li>
      <li><a routerLink="/Contacta" routerLinkActive="active">Contacta con nosotros</a></li>
      <li><a href="/Login" class="action_btn">Inicio de sesión</a></li>
    </div>

</header>
<section class="home" id="home">

    <div class="content">
      <h3>Adopta 💖 Difunde 💖 Salva</h3>
      <span>Agrupación de protectora unidas. ¡Registrate y difunde!</span>
      <p>Todos los animales publicados en Nise Adoptions, provienen de entidades protectoras de animales (asociaciones protectoras, refugios, fundaciones, perreras, etc).
        Así tenemos la certeza que realmente necesitan un hogar. <br/><br/>
        Recuerda que nuestro fin es salvar el mayor número de animales posible, y que encuentres un amigo para siempre.
      </p>
          <a href="/Login" class="btn">Unete a nosotros</a>
    </div>

</section>

<app-footer></app-footer>

