.cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .cabecera{
  display: flex;
  flex-direction: row;
  }
  .cabecera>h1{
  backdrop-filter: blur(15px);
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
  }
  
  
  * {
  margin: 0;
  padding: 0;
  
  
  box-sizing: border-box;
  }
  
  
  body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  /**esto para la tabla**/
  body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  main.table {
  width: 82vw;
  height: 90vh;
  border-radius: .8rem;
  overflow: hidden;
  }
  
  
  .table__header {
  width: 100%;
  height: 10%;
  background-color: rgb(136,107,84);
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  
  .table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
  }
  
  
  .table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
  }
  
  
  .table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
  }
  
  
  .table__body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
  }
  
  
  table {
  width: 100%;
  }
  tr{
  background: #d2c3b2;
  }
  
  
  table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
  }
  
  
  thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(136,107,84);
  cursor: pointer;
  text-transform: capitalize;
  }
  
  
  tbody tr:nth-child(even) {
  background-color: #e7e7e0;
  }
  
  
  /**los iconos**/
  .icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(150, 116, 116);
  background:
  #92735a;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  margin-left: 20px;
  padding:9px;
  }
  
  
  .add-btn:hover {
  width: 120px;
  }
  
  
  .add-btn::before,
  .add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background:
  rgb(41, 100, 54);
  }
  
  
  .add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  }
  
  
  .add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  }
  
  
  .icon-btn:focus {
  outline: none;
  }
  
  
  .btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  }
  
  
  .add-btn:hover::before,
  .add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
  }
  
  
  .add-btn:hover .btn-txt {
  opacity: 1;
  }
  
  
  .add-icon::after,
  .add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background:
  rgb(41, 100, 54);
  overflow: hidden;
  }
  
  
  .add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  }
  
  
  .add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  }
  
  
  .add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
  }
  
  
  .add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
  }
  .bx{
  width: 40px;
  }
  