<div class="row">
    <h1>Lista de Protectoras</h1>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Telefono</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let protectora of protectoras" >
            <td> {{ protectora.id }} </td>
            <td> {{ protectora.nombre }} </td>
            <td> {{ protectora.localidad }} </td>
            <td> {{ protectora.telefono }} </td>
            <td> {{ protectora.email }} </td>
            <td>
                <button [routerLink]="['update-protectora', protectora.id]" class="btn btn-primary"> Editar</button>
                <button (click)="deleteProtectora(protectora.id)" class="btn btn-primary" style="margin-left: 10px;"> Eliminar</button>
                <button [routerLink]="['protectora-details', protectora.id]" class="btn btn-primary" style="margin-left: 10px;" >Detail</button>
            </td>
        </tr>
    </tbody>
</table>





<!--
<div class="cuerpo">
    <div class="cabecera">
    <a href="/Inicio"  class="logo"><img src="../../assets/imagenes/logonise.png"></a>    
    <h1>Protectoras</h1>
    <button class="icon-btn add-btn">
    <div class="add-icon"></div>
    <div class="btn-txt">Añadir</div>
    </button>
    </div>
    
    
    <main class="table">
    <section class="table__body">
    <table>
    <thead>
    <tr>
    <th> Nombre </th>
    <th> Localidad</th>
    <th> Teléfono</th>
    <th> Email</th>
    <th> Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let protectora of protectoras">
    <td> {{protectora.nombre}}</td>
    <td> {{protectora.localidad}} </td>
    <td> {{protectora.telefono}} </td>
    <td>{{protectora.email}}</td>
    <td><i class='bx bxs-message-square-edit'></i>
    <i class='bx bxs-message-square-x '></i></td>
    </tr>
    </tbody>
    </table>
    </section>
    </main>
dejame
-->    