<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
<div class="wrapper">
  <h1>Regístrate</h1>
    <div class="campo">
      
      <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
    </div>

    <div class="campo">
        <input type="text" id="telefono" formControlName="telefono" placeholder="Teléfono">
    </div>

    <div class="campo">
      <input type="text" id="direccion" formControlName="direccion" placeholder="Dirección">
    </div>

    <div class="campo">
      <input type="text" id="email" formControlName="email" placeholder="Email">
    </div>

    <div class="campo">
        <input type="text" id="dni" formControlName="dni" placeholder="DNI">
    </div>

    <div class="campo">
        <input type="text" id="preferenciaTipoAnimal" formControlName="preferenciaTipoAnimal" placeholder="Animal preferido">
    </div>

    <div class="campo">
        <input type="text" id="preferenciaTipoTamanyo" formControlName="preferenciaTipoTamanyo" placeholder="Tamaño preferido">
    </div>

    <div class="campo">
        <input type="text" id="preferenciaSexo" formControlName="preferenciaSexo" placeholder="Sexo preferido">
    </div>

    <div formGroupName="loginDTO">   
      <div class="campo">
      <input type="text" id="username" formControlName="username" placeholder="Username"></div>
      <div class="campo">
      <input type="password" id="password" formControlName="password" placeholder="Contraseña"></div>
    </div> 

    <button type="submit">Registrar</button>
  </div>
  </form>
