

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

    <div class="campo">
      
      <input type="text" size="40" id="nombre" formControlName="nombre" placeholder="Nombre">
    </div>

    <div class="campo">
        <input type="text" size="40" id="telefono" formControlName="telefono" placeholder="Teléfono">
    </div>

    <div class="campo">
      <input type="text" size="40" id="direccion" formControlName="direccion" placeholder="Dirección">
    </div>

    <div class="campo">
      <input type="text" size="40" id="email" formControlName="email" placeholder="Email">
    </div>

    <div class="campo">
        <input type="text" size="40" id="dni" formControlName="dni" placeholder="DNI">
    </div>

    <div class="campo">
        <input type="text" size="40" id="preferenciaTipoAnimal" formControlName="preferenciaTipoAnimal" placeholder="Animal preferido">
    </div>

    <div class="campo">
        <input type="text" size="40" id="preferenciaTipoTamanyo" formControlName="preferenciaTipoTamanyo" placeholder="Tamaño preferido">
    </div>

    <div class="campo">
        <input type="text" size="40" id="preferenciaSexo" formControlName="preferenciaSexo" placeholder="Sexo preferido">
    </div>

    <div formGroupName="loginDTO" class="dto">
      <div class="campos_login">
      <input type="text" size="40" id="username" formControlName="username" placeholder="Username"></div>
      <div class="campos_login">
      <input type="text" size="40" id="password" formControlName="password" placeholder="Contraseña"></div>
    </div>

    <button type="submit">Registrar</button>
  </form>
