<div class = "row">
    <a routerLink="/Inicio" routerLinkActive="active"> Inicio</a>
    <h1>Otros</h1>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>raza</th>
            <th>edad</th>
            <th>chip</th>
            <th>tipo Animal</th>
            <th>tipo Sexo</th>
            <th>tipo Tamanyo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let mascota of mascotas">
            <td> {{mascota.nombre }} </td>
            <td> {{mascota.raza }} </td>
            <td> {{mascota.edad }} </td>
            <td> {{mascota.chip }} </td>
            <td> {{mascota.tipoAnimal }} </td>
            <td> {{mascota.tipoSexo }} </td>
            <td> {{mascota.tipoTamanyo }} </td>
        </tr>
    </tbody>
</table>
